@import '../../utils/variables.scss';

header {
    display: flex;
    margin: 0 auto;
    max-width: 1240px;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 0.93rem;
    padding-bottom: 1.25rem;

    img {
        @media screen and (max-width: 768px) {
            width: 7.5rem;
        }
    }

    /* navbar avec "Accueil & À propos" */
    .navbar__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        @media screen and (max-width: 1024px) {
            justify-content: space-around;
        }
        a {
            text-decoration: none;
            list-style: none;
            
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 600;
            margin-left: 3.12rem;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                font-size: 0.8rem;
                text-transform: uppercase;
                margin-left: 1.25rem;
            }
            /* Style du lien dans la navbar quand la page est "active" */
            &.active {
                color: $Theme-color;
                text-shadow: $Text-active-link;
            }
            &:hover {
                text-decoration-line: underline;
            }
        }
    }
}