/*========== Theme colors ==========*/
    $Theme-color: #ff6060;
    $Background-color: #F6F6F6;
    $Footer-color: black;

    /* Dégradé de couleur sur les vignettes dans la gallerie */
    $Linear-color: linear-gradient(to top, #863535, #ff6060)