@import '../../utils/variables.scss';

.logementCard {
    // border: solid 2px #ff0000;
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 0.8rem;
    margin-top: 1.2em;
    margin-bottom: 0.2em;
    @media screen and (min-width: 1024px) {
        margin-top: 0.5rem;
        transition: transform 250ms ease-in-out;
        transform: perspective(1px) translateZ(0);
        transition-duration: 0.3s;
        &:hover {
            cursor: pointer;
            box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
            border-radius: 4rem;
            transform: scale(1.04) rotate(2deg);
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(0.8);
    }

    h3 {
        position: absolute;
        bottom: 0;
        margin: 0;
        width: 100%;
        height: 20%;
        text-align: center;
        margin-top: 10px;
        color: $Text-color;
        background-color: #00000050;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.79);
        border-radius: 0px 0px 1.5rem 1.5rem;
        font-size: 14px;
        left: 0;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        padding-top: 0.8rem;
    }
}