@import '../../utils/variables.scss';

.logement-gallery {
    //border: 3px solid red;
    min-height: 50vh;
    border-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    @media screen and (max-width: 768px) {
        justify-content: center;
        background-color: inherit; /* Suppression de la couleur d'arrière-plan */
        padding: 0;
    }
}