@import '../../utils/variables.scss';

.footer {
    background-color: $Footer-color;
    color: $Text-color;
    padding: 3rem;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100px;
    display: grid;
    text-align: center;
    place-items: center;
    &__img {
        margin-bottom: 1rem;
    }
}
